<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pacman.Headbud">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.pacman.Headbud.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.pacman.Headbud.ui.login.LoginActivity" />

        <activity
            android:name="com.pacman.Headbud.ui.register.RegisterActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.pacman.Headbud.ui.home.MainActivity" />
        <activity android:name="com.pacman.Headbud.ui.profile.ProfileActivity" />
        <activity android:name="com.pacman.Headbud.ui.Mood.MoodActivity" />
        <activity android:name="com.pacman.Headbud.ui.Mood.AddMoodActivity" />
        <activity android:name="com.pacman.Headbud.ui.breathing.BreathingActivity" />
        <activity android:name="com.pacman.Headbud.ui.breathing.BreathingExerciseActivity" />
        <activity android:name="com.pacman.Headbud.ui.home.HomeActivity"/>
        <activity android:name="com.pacman.Headbud.ui.helpline.helplineActivity"/>
        <activity android:name="com.pacman.Headbud.ui.todo.ToDoListActivity"/>
        <activity android:name="com.pacman.Headbud.ui.depression.depressionActivity" />
        <activity android:name="com.pacman.Headbud.ui.depression.depressionResultActivity" />
        <activity android:name="com.pacman.Headbud.ui.quiz.QuizActivity" />
        <activity android:name="com.pacman.Headbud.ui.steps.StepCounter">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>s

</manifest>